$navy: #00072d;
$darkblue: #001c55;
$blue: #0a2472;
$lightblue: #0e6ba8;
$brightblue: #a6e1fa;



.modal {
  background-color: var(--navy);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $navy;
  align-items: center;
};

.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
};

.modal-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
};

.indexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  margin-top: 10px;
}

.header {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: $blue;
  width: 100%;
}

.noteTitle {
  color: white;
}

input {
  background-color: aliceblue !important;
  border-radius: 3px !important;
  padding: 5px !important;
  width: 100% !important;
  max-width: 100% !important;
  margin-bottom: 10px;
}

textarea {
  background-color: aliceblue !important;
  border-radius: 3px !important;
  padding: 5px !important;
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  margin-bottom: 10px;
}

.songCard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

form {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

}

.noteTitle:hover {
    color: $navy;
    transition-delay: 10s;
    transition: 1s linear;
    // transform: rotateX(1080deg) rotateY(1080deg) rotateZ(1080deg) translateX(150px) translateY(-25px);
}

.card-panel {
  background-color: $blue;
  border-radius: 10px;
  box-shadow: 2px 2px 5px;
  padding: 5px;
  text-align: center;
  width: 60%;
  border: solid 3px;
}

.card-panel:hover {
  transform: scale(0.95);
  transition: 250ms;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.title:hover {
  color: #a6e1fa;
  text-shadow: #00072d;
  transition: 250ms ease;
  transform: scale(0.9);
}

.notes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


h1 {
  color: aliceblue;
}

h2 {
  color: aliceblue;
}

h3 {
  color: aliceblue;
}

body {
  background-color: $navy;
}

.buttonBlue {
  background-color: $blue;
  border: $brightblue;
  padding: 10px;
  border-radius: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: white;
  box-shadow: 2px 2px 0px;
  width: 30%;
}

div .indexContainer {
  max-width: 100%;
}

.songs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button:hover {
  transform: scale(0.95);
  background-color: aqua;
  cursor: pointer;
  transition: 250ms;
}

.showButton {
  display: flex;
  justify-content: space-evenly;
  width: 50px;
  background-color: $blue;
  border: $brightblue;
  padding: 10px;
  border-radius: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: white;
  box-shadow: 2px 2px 0px;
}
